In [1]:
# Tuples : ordered, immutable, allows duplicate values

In [2]:
# Tuples may be constructed in a number of ways:

In [3]:
# Using a pair of parentheses to denote the empty tuple: ()
myTuple = ()
print(f"Type: {type(myTuple)}, myTuple: {myTuple}")

Type: <class 'tuple'>, myTuple: ()

In [4]:
# Using a trailing comma for a singleton tuple: a, or (a,)
myTuple = ('a',)
print(f"Type: {type(myTuple)}, myTuple: {myTuple}")

Type: <class 'tuple'>, myTuple: ('a',)

In [5]:
# Separating items with commas: a, b, c or (a, b, c)
myTuple = 'a','b','c'
print(f"Type: {type(myTuple)}, myTuple: {myTuple}")

myTuple = ('a','b','c')
print(f"Type: {type(myTuple)}, myTuple: {myTuple}")

Type: <class 'tuple'>, myTuple: ('a', 'b', 'c')
Type: <class 'tuple'>, myTuple: ('a', 'b', 'c')

In [6]:
# Tuple allows duplicate values
myTuple = ('a','b','b','c')
print(f"myTuple: {myTuple}")

myTuple: ('a', 'b', 'b', 'c')

In [7]:
# Using the tuple() built-in: tuple() or tuple(iterable)

In [8]:
# tuple() - to create a new tupple
# with no argument, tuple() creates an empty tuple

myTuple = tuple()
print(f"Type: {type(myTuple)}, myTuple: {myTuple}")

Type: <class 'tuple'>, myTuple: ()

In [9]:
"""
if the argument is a sequence, 
the result of the call to tuple is a tuple 
with the elements of the sequence
"""
myTuple = tuple("mca")
print(f"Type: {type(myTuple)}, myTuple: {myTuple}")

Type: <class 'tuple'>, myTuple: ('m', 'c', 'a')

In [10]:
myTuple = tuple(["bca","mca"])
print(f"Type: {type(myTuple)} myTuple: {myTuple}")

Type: <class 'tuple'> myTuple: ('bca', 'mca')

In [11]:
myTuple = tuple(("bca","mca"))
print(f"Type: {type(myTuple)}, myTuple: {myTuple}")

Type: <class 'tuple'>, myTuple: ('bca', 'mca')

In [12]:
# Tuples may be nested

student = 5,'Animesh','mca'
studentMarks = student,(97,90,73,85)
print(studentMarks)

((5, 'Animesh', 'mca'), (97, 90, 73, 85))

In [13]:
# len(tuple) - number of itemts in the tuple

courses = ("bca","mca","btech","bsc")
print(len(courses))
t = tuple()
print(len(t))

4
0

In [14]:
# like list, 
# tuple items can be accessed by referring to the index number within square brackets
# slicing selects a range of items of the tuple
# membership of an element can be checked with 'in' or 'not in'
# loops like for and while work on a tuple
# concatenation with + and duplication with * works on tuple

In [15]:
# tuples are immutable; Once a tuple is created, 
# its individual values cannot be changed

myTuple = 'a','b','c','d'
myTuple[0] = 'A'

TypeError: 'tuple' object does not support item assignment

In [16]:
# tuples are immutable; Once a tuple is created, 
# its individual values cannot be changed
# Workaround 1: replace one tuple with another

myTuple = 'a','b','c','d'

myTuple = ('A',) + myTuple[1:]

print(f"Type: {type(myTuple)}, myTuple: {myTuple}")

Type: <class 'tuple'>, myTuple: ('A', 'b', 'c', 'd')

In [17]:
# tuples are immutable; Once a tuple is created, 
# its individual values cannot be changed
# Workaround 2: convert the tuple into a list, 
# change the list, and convert the list back into a tuple

myTuple = 'a','b','c','d'

myList = list(myTuple)
myList[0] = 'A'
myTuple = tuple(myList)

print(f"Type: {type(myTuple)}, myTuple: {myTuple}")

Type: <class 'tuple'>, myTuple: ('A', 'b', 'c', 'd')

In [18]:
# It is not possible to assign to the individual items of a tuple, 
# however it is possible to create tuples which contain 
# mutable objects, such as lists.

t = 1,2,[3, 4, 5],6
t

(1, 2, [3, 4, 5], 6)

In [19]:
# It is not possible to assign to the individual items of a tuple 
t = 1,2,[3, 4, 5],6
t[2] = [9, 10]

TypeError: 'tuple' object does not support item assignment

In [20]:
# But the elements of the mutable list inside the tuple can be changed
t = 1,2,[3,4,5],6
t[2][1] = 44
t

(1, 2, [3, 44, 5], 6)

In [21]:
# delete a tuple

myTuple = 'a','b','c','d'
del myTuple
print(myTuple)

NameError: name 'myTuple' is not defined

In [22]:
# comparing tuples
# starts by comparing the first element from each tuple. 
# if they are equal, goes on to check the next element, 
# and so on, until elements are found which differ. 

(1,2,3) < (1,3,1)

True

In [23]:
(0,100,1000) < (1,0,0)

True

In [24]:
# unpack tuples - extract values to variables
# unpacking requires that there are as many variables
# on the left side of the equal sign as there are elements in the tuple.

student = (5,'Animesh','mca') # packing

roll,name,degree = student  # unpacking

print(f"roll: {roll}, name: {name}, degree: {degree}")

roll: 5, name: Animesh, degree: mca

In [25]:
courses = ('bca','mca','msc','mcom','diploma')

(ug,*pg,other) = courses

print(f"ug: {ug}, pg: {pg}, other: {other}")

ug: bca, pg: ['mca', 'msc', 'mcom'], other: diploma

In [26]:
# the right side can be any kind of sequence

email_id = 'mca.students@heritageit.edu'
uname,domain = email_id.split('@')
a,b,c = [1,2,3]
print(uname)
print(domain)
print(a,b,c)

mca.students
heritageit.edu
1 2 3

In [27]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [28]:
help(tuple.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [29]:
# count() method returns the number of times a specified value appears in the tuple.

t = (5,6,7,4,7,4,4,5,8,5)
n = t.count(5)
print(n)

3

In [30]:
help(tuple.index)

Help on method_descriptor:

index(self, value, start=0, stop=9223372036854775807, /)
    Return first index of value.

    Raises ValueError if the value is not present.

In [31]:
# index() method finds the first occurrence of the specified value
# raises an exception if the value is not found

t = (5,6,7,4,7,4,4,5,8,5)
n = t.index(7)
print(n)

2

In [32]:
# Given a list of tuples, each containing name, age, and profession, 
# generate strings of English sentences as 
# "Name is X years old and works as Y." for each one.
# Sample Input: [('Adnan', 25, "Programmer"), ("Swati", 27, 'DBA'), ('Anand', 26, "Tester")] 
# Output: Adnan is 25 years old and works as Programmer.
# Swati is 27 years old and works as DBA. 
# Anand is 26 years old and works as Tester.
# Roll:58
employees = [('Adnan', 25, "Programmer"), ('Swati', 27, "DBA"), ('Anand', 26, "Tester")]
for employee in employees:
    name,age,role = employee
    print(f"{name} is {age} years old and works as {role}.")

Adnan is 25 years old and works as Programmer.
Swati is 27 years old and works as DBA.
Anand is 26 years old and works as Tester.

In [33]:
# Create a list of tuples from given list of numbers, 
# with number and its square in each tuple. 
# Sample Input: [2, 5, 1, 4]
# Output: [(2, 4), (5, 25), (1, 1), (4, 16)]
# Roll: 36
nums = [2,5,1,4]
squaredList = []
for num in nums:
    squaredList.append((num,num**2))
squaredList

[(2, 4), (5, 25), (1, 1), (4, 16)]